@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .spacing-super-wide{
    letter-spacing: 0.6rem;
  }
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}